* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

.banner h1{
    color: khaki;
    font-size: 100px;
    text-align: center;
    background-image: url("../images/pattern.jpeg");
    background-position: center;
    
}

h1, h2, .bid {
    font-weight: bold;
}

h2 {
    font-size: 32px;
    color: white;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}

.bid {
    color: blue;
}